@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: rgb(11, 28, 59);
}

* {
    margin: 0;
    padding: 0;
}

header ul {
    background-color: black;
    height: 10vh;
    width: 100vw;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
}

header nav ul {
    list-style: none;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
}

header nav ul li {
    margin: 0 30px;
}

.logo {
    height: 10vh;
    width: 10vh;
    position: absolute;
}


/* DIVISIONS */
.division{
    height: 90vh;
    width: 100vw;
    display: inline-grid;
    grid-template-columns: auto auto;
    justify-content:space-around ;
    align-content: center;
}

.divs {
    height: 40vh;
    width: 40vh;
    text-align: center;
}

main .division .divs p{
    position: relative;
    top: 50%;
}

.st {
    background-color: red;
}

.nd {
    background-color: green;
}